a {
  color: white;
  position: relative;
  font-size: 25px;

}

#sun{
  max-width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Link {
  max-width: 20%;
}

.innerPlanets {
  padding-left: 5%;
}

.cdk-overlay-container {
  position: relative;
  text-align: center;
  color: white;
}

#title{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

mat-grid-tile-footer {
  font-size: 40px;
}

mat-grid-tile {
  background: transparent;
}
